# tmp
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.xdv
*.pytxcode
*.pytxmcr
*.pytxpyg
*.pkl
*.vrb

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
